<div class="table-responsive mt-4">
  <table class="table table-sm table-hover w-75">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Photo</th>
        <th scope="col">Name</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Email</th>
        <th scope="col">Group</th>
        <th scope="col">Address</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts; let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{contact.photoFilename}}</td>
        <td>{{contact.contactName}}</td>
        <td>{{contact.phoneNumber}}</td>
        <td>{{contact.email}}</td>
        <td>{{contact.groupType | titlecase}}</td>
        <td>{{contact.address}}</td>
        <td><button class="btn btn-outline-primary" type="button" [routerLink]="['/editContact', contact.contactId]"
            routerLinkActive="router-link-active">Edit</button></td>
        <td><button class="btn btn-outline-danger" type="submit" (click)="onDelete()">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>