<div class="table-responsive mt-4">
  <table class="table table-sm table-hover w-75">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Photo</th>
        <th scope="col">Name</th>
        <th scope="col">Phone&nbsp;Number</th>
        <th scope="col">Email</th>
        <th scope="col">Group</th>
        <th scope="col">Address</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts; let i=index">
        <th scope="row">{{i+1}}</th>
        <td class="w-25"><img class="img-fluid" [src]="contact.photoFilename"></td>
        <td class="w-25">{{contact.contactName}}</td>
        <td class="w-25">{{contact.phoneNumber}}</td>
        <td class="w-25">{{contact.email}}</td>
        <td class="w-25">{{contact.groupType | titlecase}}</td>
        <td (click)="onOpenInMaps(contact.address)" class="addressLink">{{contact.address}}</td>
        <td><button class="btn btn-outline-primary" type="button"
            [routerLink]="['/home/editContact', contact.contactId]" routerLinkActive="router-link-active">Edit</button>
        </td>
        <td><button class="btn btn-outline-danger" type="submit" (click)="onDelete(contact.contactId)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>